<h1>Welcome!</h1><br>
<p>	This project has been started to help communities with parking enforcement</p>
<p>Several communities have parking rules but due to the complicated nature of </p>
<p>enforcing those rules, many residents and guests abuse them.</p><br>
<p>	This app is to be used to help communities manage the vehicles in their</p>
<p>area regularly and impliment a 'silent whistle blower' policy, empowering</p>
<p>their residents to take charge of the parking enforcement.</p><br><br>
