<div style = "width: 620px;margin: 0px auto;padding: 30px 30px 30px 30px;background: #bbbaba;border: 1px solid #d8d7d7;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;">
<h1>Welcome!</h1>
<p>The purpose of this website is to help communities with parking enforcement issues.
Several communities have parking rules and regulations but due to the complicated nature of
enforcing those rules, many residents and guests abuse them.</p>
This app has been created to help communities manage the vehicles in their
area regularly and impliment a 'silent whistle blower' policy, empowering
their residents to take charge of the parking enforcement.</p>
<p>To begin, please <a href = "/registrations/new" >register your vehicle</a> to ensure you are contacted if there are any suspected parking violations.</p>
</div>