<div style = "width: 620px;margin: 0px auto;padding: 30px 30px 30px 30px;background: #bbbaba;border: 1px solid #d8d7d7;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;">
<h1>About The Parking App</h1>
<p>As a class project, we were required to create a web application that benefits society in some way. 
The web application needs to include a relational database. It needs a front end that follows good design principles. 
It needs to suuport a REST interface as an API. It needs to use a framework that we haven't used before. 
We also need to store our code on github and host the project on a website. </p>
<p>We chose to use Ruby on Rails as the framework for our web application.</p>
</div>