<h1>Milestones</h1>
<p>Milestone 1</p>
<p>Create scafolding for reporting violations and registering vehicles</p>
<p>Start working on automated mailers.  This isn't automated yet but we can</p>
<p>send emails from our website.</p>

<p>Milestone 2</p>
<p>Mailers are now sent to users when they register a vehicle and when a violation</p>
<p>matching their vehicle's license plate and state is reported.  Also implemented</p>
<p>authentication requirement to delete violations.  This will be scaled further to </p>
<p>only allow authenticated users view list of register vehicles.</p>