<h1>Milestones</h1>
<p>Milestone 1</p>
<p>Create scafolding for reporting violations and registering vehicles</p>
<p>Start working on automated mailers.  This isn't automated yet but we can</p>
<p>send emails from our website</p>