<div style = "width: 620px;margin: 0px auto;padding: 30px 30px 30px 30px;background: #bbbaba;border: 1px solid #d8d7d7;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;">
	<h1>Milestones:</h1>
	<div class = "milestones" style = "padding: 5px 20px 0px 20px;">
		<h3>Milestone 1</h3>
		<p>We created the scafolding for reporting violations and registering vehicles. 
		We start working on automated mailers.  This isn't automated yet but we can
		send emails from our website.</p>
		<h3>Milestone 2</h3>
		<p>Mailers are now sent to users when they register a vehicle and when a violation
		matching their vehicle's license plate and state is reported. The authentication requirement to delete a 
		violation is now implemented. This will be scaled further to
		only allow authenticated users to view the list of registered vehicles.</p>
		<h3>Milestone 3</h3>
		<p>The front end is now fully implemented and styled. The back end is fully connected 
		to the front end and the app is fully functional.</p>
	</div>
</div>