<!DOCTYPE html>
<html>
<head>
  <title>The Parking App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">The Parking App</a>
      <ul class="nav">
        <li class="active"><a href="/violations">Report Violation</a></li>
        <li class="active"><a href="/registrations/new">Register Vehicle</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    Williams Gubler Inc. 2013
  </div>
  <div class="navbar-inner">
    <div class="container">
      <li class="active"><a href="/pages/about">About</a></li>
      <li class="active"><a href="/pages/milestones">Milestones</a></li>
    </div>
  </div>
</footer>

</body>
</html>
